<html>
 <head>
  <title>HW4</title>
  <link rel="stylesheet" type="text/css" href="../public/css/base.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <p> This site is about learning more about the Hexadecimal system of naming colors. Now hexadecimal might look and sound intimidating but hopefully this site shows you how simple it can really be :).</p>
