<html>
 <head>
  <title>HW4</title>
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
 <h1 class="rainbow">#HEXcuse Me!</h1>
 <ul>
 <li><a class="active" href="/about">About</a></li>
 <li><a href="/colors">Colors</a></li>
</ul>
{{{ body }}}
